stages:
  - build_infra
  - configure_servers

variables:
  TF_IN_AUTOMATION: "true"

# Stap 1: Terraform (Bouw de infrastructuur)
deploy_terraform:
  stage: build_infra
  image:
    name: hashicorp/terraform:light
    entrypoint: [""]
  before_script:
    - cd terraform             # <--- BELANGRIJK: Ga de juiste map in
    - terraform init           # <--- BELANGRIJK: Initialiseer Terraform
  script:
    - terraform apply -auto-approve
    # Verplaats inventory voor de volgende stap
    - mv ../inventory.ini ../inventory.ini || mv inventory.ini ../inventory.ini
  artifacts:
    paths:
      - inventory.ini
      - terraform/terraform.tfstate
  only:
    - main

# Stap 2: Ansible (Software installeren)
configure_ansible:
  stage: configure_servers
  image: willhallonline/ansible:latest
  before_script:
    # Hier komt de SSH fix die we eerder bespraken
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    # Gebruik cat omdat je variabele Type: File is
    - cat "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - export ANSIBLE_HOST_KEY_CHECKING=False
  script:
    # Run Ansible
    - ansible-playbook -i inventory.ini ansible/playbook.yml --private-key ~/.ssh/id_rsa
  dependencies:
    - deploy_terraform
  only:
    - main